/* 
CSS de desktop
---------------

par vincent espino
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

h3
{
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
  max-height: 100%;

}

#bloc_page 
{

    background-color: white;
    color: black;
    max-width: 1440px;
    align-items: center;
    margin: auto;
    padding-left: 3.472%;
    padding-right: 3.472%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;


  }
 /* !!! header !!! */
header
{
    max-width: 1440px;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav_block inscrire";
    max-width: 1440px;

}

#logo
{
    grid-area: logo;
    height: 2.813rem;

}

#nav_block
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    color: #0065FC;
    font-weight: 600;



}

#hebergement_nav
{

    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 500;


}
#hebergement_nav[data-active=true] 
{
    border-top: 3px solid #0065FC;
}

#activités_nav
{
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 500;

}

#activités_nav[data-active=true] 
{
    border-top: 3px solid #0065FC;
}

#inscrire
{
    display: flex;
    align-items: center;
    padding: 2rem;
    color: #0065FC;
    font-weight: 500;



}

/*!!  header !!!    */
/* !! main !!! */

/* rechercher */

#recherche 
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    min-width: 29%;
    height: 50px;
}

#bloc_map_marker_svg
{
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

#recherche_bloc
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}
#rechercher_button
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;


}

#filtres
{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    height: 50px;

}

#filtre_titre
{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.filtre 
{
    display: flex;
    align-items: center;  
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;

}

.cercle_icone 
{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;


}
.texte_filtre
{
    margin: 0 1rem;
}

.bleu_icone
{
    color: blue;
    display: table-cell;
    vertical-align: middle;
    
}

.gris_icone 
{
    color: #F2F2F2;
    display: table-cell;
    vertical-align: middle;
}

#ligne_info
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

#info_bulle
{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
/* rechercher */

/* hebergements */

.hebergement_blocs
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 625px;
    max-width: 1440px;
    justify-content: space-between;
}

.article_hebergement
{
    width: 61.111%;
    max-height: 625px;
    margin-right: 2.7777%;


}


#Hebergement
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    height: 625px;

}


.hebergement_titre
{
    margin-left: 5.554%;
    margin-top: 50px;

}

#hebergement_bloc_cartes_1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    justify-content: left;
    margin-left: 2.777%;
    margin-right: 2.777%;
    

}

#hebergement_bloc_cartes_2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 2.777%;
    margin-right: 2.777%;
    margin-top: 15px;
    justify-content: left;
}


.hebergement_carte 
{
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-sizing: border-box;
    width: 28.409%;
    margin: auto;
    height: 200px;

}
.image_hebergement
{
    height: 120px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;

}

#hebergement_carte_bloc_texte
{

    height: 80px;
}

.hebergement_carte_lieu
{
    margin: 0.25rem 0.75rem 0 0.75rem;

}

.hebergement_carte_prix 
{
    margin: 0.25rem 0.75rem 0.25rem 0.75rem;

}

.etoiles
{
    margin: 0 0.75rem 0.25rem 0.75rem;
}

.afficher_plus
{
    margin-left: 5.554%;
    font-weight: bold;
    margin-top: 45px;
}

.aside_populaires
{
    width: 29.166%;
    max-height: 625px;
   

}

#populaires
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.5rem;
    height: 625px;

}

.populaires_titre
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

#populaires_bloc_cartes 
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    overflow: auto;
    width: 82.142%;
}

.populaires_carte 
{
    display: flex;
    align-items: stretch;
    overflow: auto;
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 140px;
    width: auto;
    margin-bottom: 35px;
}

.image_populaires_contenant
{
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}


.image_populaires
{
    border-radius: 1rem 0 0 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/* hebergements */

/* activités */

#Activites_bloc
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 496px;
    margin-top: 30px;
    box-sizing: border-box;
    max-width: 1440px;
}

.Activites_bloc_1
{
    width: 20%;
    height: 445px;

}


.activites_carte_1
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 445px;
}

.Activites_bloc_2
{
    width: 20%;
    height: 445px;

}

.activites_carte_2
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 240px;
    margin-bottom: 40px;
}
    

.activites_carte_3
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 160px;
}

.Activites_bloc_3
{
    width: 20%;
    height: 445px;

}

.activites_carte_4
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 445px;
}

.Activites_bloc_4
{
    width: 20%;
    height: 445px;

}
    
.activites_carte_5
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 195px;
    margin-bottom: 40px;
}



.activites_carte_6
{
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
    height: 205px;
}

.activites_bloc_image_grand
{
    height: 390px;
}

.activites_bloc_image_2
{
    height: 180px;

}

.activites_bloc_image_3
{
height: 110px;

}

.activites_bloc_image_5
{
    height: 140px;

}

.activites_bloc_image_6
{
    height: 155px;

}


.image_activites
{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.activites_bloc_text
{
    height: 55px;

}

.activites_text
{
    margin: 1.2rem 1.5rem;
}

/* activités */

/* !! main !!! */

/* !! footer !!!! */ 

footer
{
    background-color: #F2F2F2;
    margin: auto;
    width: 100%;
    height: 100%;


}

#colomnes_footer 
{

    background-color: #F2F2F2;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto; 
    grid-template-areas:"A_propos_ligne Nos_hebergements_ligne Assistance_ligne";
    padding: 2rem 2rem;
    height: 100%;
    max-width: 1440px;
    
    
}


/* !! footer !!!! */

/*max width*/

