/* 
CSS de desktop
---------------

par vincent espino
*/


#bloc_page 
{

    background-color: white;
    color: black;



}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;


  }
 /* !!! header !!! */
header
{
    max-width: 1440px;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav_block inscrire";


}

#nav_block
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;



}

#inscrire
{
    display: flex;




}

/*!!  header !!!    */
/* !! main !!! */

#Hebergement
{
    background-color: #F2F2F2;
    display: grid;
    align-items: center;
    margin: auto;

}
.hebergement_carte 
{
    background-color: white;

}

#populaires
{
    background-color: #F2F2F2;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto;
}

.populaires_carte 
{
    background-color: white;

}
/* !! main !!! */

/* !! footer !!!! */ 

footer
{
    width: 100%;
    background-color: #F2F2F2;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: auto;
    grid-template-areas:"A_propos_ligne Nos_hebergements_ligne Assistance_ligne";

}

/* !! footer !!!! */