/* 
CSS de desktop
---------------

par vincent espino
*/

#bloc_page 
{

    background-color: white;
    color: black;



}

header
{

    background-color: black;



}

nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;



}